form {
    display: grid;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
}

.msgContainer {
    text-align: center;
    padding-top: 1rem;
}

a, p {
    color: #213435;
}

.loginContainer{
    position: absolute;
    width: 100%;
    height: 90%;
    background: #e1eadc;
}