form {
    display: grid;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
}

label {
    color: #213435;
    font-size: larger;
    font-weight: bold;
}

input {
    border: none;
    border-bottom: 2px solid #213435;
    background: inherit;
}

input:focus,
input:focus-visible,
input:active {
    border: none;
    border-bottom: 3px solid #213435;
    background: inherit;
    outline: none;
}