/* You can add global styles to this file, and also import other style files */
header {
    background: #213435;
    color: #e1e3ac;
    height: 4rem;
}

nav {
    display: flex;
    justify-content: right;
}

nav a {
    color: #e1e3ac;
    text-decoration: none;
}

nav a:hover {
    background-color: #46685b;
}

.nav-icn{
    height: 100%;
}
