<div class="loginContainer">
    <form [formGroup]="loginForm" autocomplete="off">
        <label for="txtUsername"> Usuario </label>
        <input type="text" id="txtUsername" formControlName="username" />

        <label for="txtPassword"> Contraseña </label>
        <input type="password" id="txtPassword" formControlName="password" />

        <button type="button" [disabled]="!validForm" (click)="loginUser()">Iniciar sesión</button>
    </form>

    <div class="msgContainer">
        <p class="errorMessage">{{errorMessage}}</p>
    </div>

    <div class="msgContainer">
        <p>¿No tienes una cuenta?, <a [routerLink]="['/authentication/sign_in']" routerLinkActive="active">regístrate</a></p>
    </div>
</div>