<div class="signInContainer">
    <form>
        <app-text-input class="inputContainer" [control]="registrationForm.username" label="Usuario"
            placeholder="Usuario"></app-text-input>
        <app-text-input class="inputContainer" [control]="registrationForm.password" label="Contraseña"
            placeholder="Contraseña" type="password"></app-text-input>
        <app-text-input class="inputContainer" [control]="registrationForm.name" label="Nombre"
            placeholder="Nombre"></app-text-input>
        <app-text-input class="inputContainer" [control]="registrationForm.email" label="Correo Electrónico"
            placeholder="Correo Electrónico" type="email"></app-text-input>

        <app-standard-button class="inputContainer" id="btnSignIn" text="Registrarse" [disabled]="!validForm"
            (clickEvent)="signInUser()"></app-standard-button>

    </form>

    <div class="msgContainer">
        <p class="errorMessage">{{errorMessage}}</p>
    </div>

    <div class="msgContainer">
        <p>Volver al <a [routerLink]="['/authentication/login']" routerLinkActive="active">Login</a></p>
    </div>
</div>