form {
    display: grid;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
}

.signInContainer {
    position: absolute;
    width: 100%;
    height: 90%;
    background: #e1eadc;
}

.msgContainer {
    text-align: center;
    padding-top: 1rem;
}

.errorMessage {
    color: red;
}

a,
p {
    color: #213435;
}

.inputContainer{
    display: inherit;
}