<div class="signInContainer">
    <form>
        <label for="txtUsername"> Usuario </label>
        <input type="text" id="txtUsername" />

        <label for="txtPassword"> Contraseña </label>
        <input type="password" id="txtPassword" />

        <label for="txtName"> Nombre </label>
        <input type="text" id="txtName" />

        <label for="txtEmail"> Correo Electrónico </label>
        <input type="text" id="txtEmail" />
    </form>

    <div class="msgContainer">
        <p><a [routerLink]="['/authentication/login']" routerLinkActive="active">Log in</a></p>
    </div>
</div>