button {
    background: #46685b;
    margin-top: 1rem;
    border: none;
    border-radius: 0.5rem;
    transition: border 100ms;
    color: #e1e3ac;
    font-size: large;
    font-weight: bold;
}


button:enabled:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

button:disabled {
    opacity: 0.5;
}